In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import sklearn
from sklearn.model_selection import train_test_split

In [3]:
from sklearn.feature_extraction.text import CountVectorizer

In [7]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report,confusion_matrix

In [9]:
df=pd.read_csv("C:/Users/hp/Downloads/archive (25).csv/Restaurant_Reviews.tsv",sep='\t')
df.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [33]:
df['text length'] = df['Review'].apply(len)

In [34]:
X=df["Review"]
y=df["Liked"]

In [35]:
X

0                               Wow... Loved this place.
1                                     Crust is not good.
2              Not tasty and the texture was just nasty.
3      Stopped by during the late May bank holiday of...
4      The selection on the menu was great and so wer...
                             ...
995    I think food should have flavor and texture an...
996                             Appetite instantly gone.
997    Overall I was not impressed and would not go b...
998    The whole experience was underwhelming, and I ...
999    Then, as if I hadn't wasted enough of my life ...
Name: Review, Length: 1000, dtype: object

In [36]:
y

0      1
1      0
2      0
3      1
4      1
      ..
995    0
996    0
997    0
998    0
999    0
Name: Liked, Length: 1000, dtype: int64

In [37]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.5)

In [38]:
X_train

522                            A greasy, unhealthy meal.
541    We waited for thirty minutes to be seated (alt...
761    The place was not clean and the food oh so stale!
221                       The service was a bit lacking.
946    It was a bit too sweet, not really spicy enoug...
                             ...
121    Worst service to boot, but that is the least o...
166    This place is hands-down one of the best place...
705    I work in the hospitality industry in Paradise...
735    Probably never coming back, and wouldn't recom...
448    The food is delicious and just spicy enough, s...
Name: Review, Length: 500, dtype: object

In [39]:
y_train

522    0
541    0
761    0
221    0
946    0
      ..
121    0
166    1
705    0
735    0
448    1
Name: Liked, Length: 500, dtype: int64

In [40]:
X_test

238    If she had not rolled the eyes we may have sta...
994             I can't tell you how disappointed I was.
108                          Will go back next trip out.
722    The food was great as always, compliments to t...
12     The cashier had no care what so ever on what I...
                             ...
869    The feel of the dining room was more college c...
381                             They have great dinners.
486    They had a toro tartare with a cavier that was...
315           The bus boy on the other hand was so rude.
521                     If you haven't gone here GO NOW!
Name: Review, Length: 500, dtype: object

In [41]:
y_test

238    0
994    0
108    1
722    1
12     0
      ..
869    0
381    1
486    1
315    0
521    1
Name: Liked, Length: 500, dtype: int64

In [44]:
#CV
cv = CountVectorizer()

X = cv.fit_transform(X)

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3,random_state=101)
nb = MultinomialNB()  

nb.fit(X_train,y_train)

MultinomialNB()

In [48]:
#create predicitions object
pred = nb.predict(X_test)

In [51]:
from sklearn.metrics import classification_report
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.79      0.77      0.78       150
           1       0.77      0.80      0.79       150

    accuracy                           0.78       300
   macro avg       0.78      0.78      0.78       300
weighted avg       0.78      0.78      0.78       300

In [55]:
#create pipeline
pipeline = Pipeline([
    ('bow', CountVectorizer()),  
    ('tfidf', TfidfTransformer()), 
    ('classifier', MultinomialNB()),  
])

In [58]:
#re-split data for pipeline
X = df['Review']
y = df['Liked']
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3,random_state=101)

In [59]:
#fitting pipeline to training data 
pipeline.fit(X_train,y_train)

Pipeline(steps=[('bow', CountVectorizer()), ('tfidf', TfidfTransformer()),
                ('classifier', MultinomialNB())])

In [60]:
predictions = pipeline.predict(X_test)

In [62]:
print(confusion_matrix(y_test,predictions))

[[111  39]
 [ 23 127]]

In [63]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.83      0.74      0.78       150
           1       0.77      0.85      0.80       150

    accuracy                           0.79       300
   macro avg       0.80      0.79      0.79       300
weighted avg       0.80      0.79      0.79       300